Prezentation/TestWcf/Connected Services/ServiceReference1/Biblioteca.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Domain.ModelAux" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Domain.ModelAux" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AchizitieCarte">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descriere" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumarCarti" type="xs:int" />
      <xs:element minOccurs="0" name="NumeAutor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrenumeAutor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titlu" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AchizitieCarte" nillable="true" type="tns:AchizitieCarte" />
</xs:schema>